:root {
  --background-color: #242424;
  --primary-text-color: #e0e0e0;
  --secondary-text-color: #b0b0b0;
  --border-color: #444444;
  --accent-color: #888888;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--primary-text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 3em;
}

.portrait {
  width: 150px;

  border-radius: 50%;
  border-style: solid;
  border-color: var(--border-color);
}

.specialty-icons {
  margin-top: 1em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 0.5em;
}

.specialty-icons img {
  width: 2.5em;

  /* border-radius: 0.3em; */
  /* background-color: var(--border-color); */
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.title {
  margin: 0;
}

.subtitle {
  margin: 0;

  color: var(--secondary-text-color);
}

.note {
  color: var(--accent-color);
}

@media (max-width: 450px) {
  .container {
    margin: 1em;

    text-align: center;
  }

  .specialty-icons {
    margin-top: 0.5em;
  }

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
